# Configuration file

"race main attribute" {
    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Starting Attribute" <
        STR 12
        DEX 12
        CONS 12
        WILL 14
        MIND 10
        SPI 6
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Stat Bonus" <
        Melee 20
        Defense 5
        Body 5
        Stamina 15
        EnergyPower 20
        EnergyPool 10
        MaxSkills 0
        Speed 8
        RegenRateBody 5
        RegenRateStamina 5
        RegenRateEnergy 5
        FlySpeed 8
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Stat Multiplier from Attribute" <
        Melee 2.6
        Defense 4.0
        Body 20.0
        Stamina 3.5
        EnergyPower 5.0
        EnergyPool 35.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.1
        MIND 1.1
        SPI 1.1
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Starting Attribute" <
        STR 12
        DEX 12
        CONS 12
        WILL 14
        MIND 10
        SPI 7
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Stat Bonus" <
        Melee 10
        Defense 10
        Body -5
        Stamina 10
        EnergyPower 25
        EnergyPool 15
        MaxSkills 0
        Speed 12
        RegenRateBody -5
        RegenRateStamina 10
        RegenRateEnergy 10
        FlySpeed 12
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Stat Multiplier from Attribute" <
        Melee 2.5
        Defense 4.0
        Body 20.0
        Stamina 3.5
        EnergyPower 5.5
        EnergyPool 38.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Attribute Multiplier" <
        STR 1.2
        DEX 1.1
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Starting Attribute" <
        STR 14
        DEX 12
        CONS 12
        WILL 12
        MIND 10
        SPI 6
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Stat Bonus" <
        Melee 30
        Defense -5
        Body 10
        Stamina 20
        EnergyPower 10
        EnergyPool -5
        MaxSkills 0
        Speed -5
        RegenRateBody 10
        RegenRateStamina 10
        RegenRateEnergy -5
        FlySpeed -5
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Stat Multiplier from Attribute" <
        Melee 2.6
        Defense 4.1
        Body 20.0
        Stamina 3.5
        EnergyPower 5.3
        EnergyPool 38.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >
}


